.bigDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border-radius: 25px;
    padding: 25px 0;
}

.titre {
    font-size: 50px;
    color: white;
    margin: 0;
    font-weight: 900;
}

.texte {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 25px;
    font-weight: 200;
    color: white;
}

.sousTitre {
    color: white;
}

.mealCards {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 25px;
}

.mealCards .card {
    width: 250px;
    padding: 20px 25px;
    border-radius: 23px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-left: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease-in-out;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mealCards .card:hover {
    scale: 1.02;
}

.mealCards .card img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 10px;
}

.mealCards .card h3 {
    font-size: 20px;
    margin: 10px 0 5px 0;
}

.mealCards .card p {
    font-size: 14px;
    font-weight: 200;
}
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}
